.table-head__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8px;
}

@media screen and (max-width: 1200px) {
  .table-head__buttons {
    /* justify-content: space-around; */
  }
}
