.filter__range-title {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 8px;
  padding-bottom: 12px;
}

@media screen and (max-width: 1200px) {
  .filter__range-title {
    font-size: 14px;
    line-height: 20px;
  }
}


